function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto SquareGame.IF.1.START
push this 0
call Square.moveUp 1
pop temp 0
goto SquareGame.IF.1.END
label SquareGame.IF.1.START
label SquareGame.IF.1.END
push this 1
push constant 2
eq
not
if-goto SquareGame.IF.2.START
push this 0
call Square.moveDown 1
pop temp 0
goto SquareGame.IF.2.END
label SquareGame.IF.2.START
label SquareGame.IF.2.END
push this 1
push constant 3
eq
not
if-goto SquareGame.IF.3.START
push this 0
call Square.moveLeft 1
pop temp 0
goto SquareGame.IF.3.END
label SquareGame.IF.3.START
label SquareGame.IF.3.END
push this 1
push constant 4
eq
not
if-goto SquareGame.IF.4.START
push this 0
call Square.moveRight 1
pop temp 0
goto SquareGame.IF.4.END
label SquareGame.IF.4.START
label SquareGame.IF.4.END
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label SquareGame.WHILE.5.START
push local 1
not
not
if-goto SquareGame.WHILE.5.END
label SquareGame.WHILE.6.START
push local 0
push constant 0
eq
not
if-goto SquareGame.WHILE.6.END
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame.WHILE.6.START
label SquareGame.WHILE.6.END
push local 0
push constant 81
eq
not
if-goto SquareGame.IF.7.START
push constant 1
neg
pop local 1
goto SquareGame.IF.7.END
label SquareGame.IF.7.START
label SquareGame.IF.7.END
push local 0
push constant 90
eq
not
if-goto SquareGame.IF.8.START
push this 0
call Square.decSize 1
pop temp 0
goto SquareGame.IF.8.END
label SquareGame.IF.8.START
label SquareGame.IF.8.END
push local 0
push constant 88
eq
not
if-goto SquareGame.IF.9.START
push this 0
call Square.incSize 1
pop temp 0
goto SquareGame.IF.9.END
label SquareGame.IF.9.START
label SquareGame.IF.9.END
push local 0
push constant 131
eq
not
if-goto SquareGame.IF.10.START
push constant 1
pop this 1
goto SquareGame.IF.10.END
label SquareGame.IF.10.START
label SquareGame.IF.10.END
push local 0
push constant 133
eq
not
if-goto SquareGame.IF.11.START
push constant 2
pop this 1
goto SquareGame.IF.11.END
label SquareGame.IF.11.START
label SquareGame.IF.11.END
push local 0
push constant 130
eq
not
if-goto SquareGame.IF.12.START
push constant 3
pop this 1
goto SquareGame.IF.12.END
label SquareGame.IF.12.START
label SquareGame.IF.12.END
push local 0
push constant 132
eq
not
if-goto SquareGame.IF.13.START
push constant 4
pop this 1
goto SquareGame.IF.13.END
label SquareGame.IF.13.START
label SquareGame.IF.13.END
label SquareGame.WHILE.14.START
push local 0
push constant 0
eq
not
not
if-goto SquareGame.WHILE.14.END
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto SquareGame.WHILE.14.START
label SquareGame.WHILE.14.END
goto SquareGame.WHILE.5.START
label SquareGame.WHILE.5.END
push constant 0
return
